/* ---------------------
	Page Styles
------------------------ */

body {
	font-family: 'Alegreya', Georgia, serif;
	font-weight: normal;
	color: #333;
	font-size: 1.25em;
	background: #f9f9f9;
	margin: 0;
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  -ms-font-feature-settings: "kern";
  -o-font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";
}

.container {
	max-width: 37.5rem;
	width: 88%;
	margin: 0 auto;
	padding: 4.2em 0;
}

p {
  font-size: 1em;
	line-height: 1.6;
	margin: 0;
}

p + p {
	text-indent: 2em;
}

h1 {
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 10vw;
	line-height: 1;
	margin: 0 0 0.1em;
	font-weight: normal;
	text-transform: uppercase;
  letter-spacing: -0.03em;
}

h2 {
	font-size: 1.953em;
	line-height: 1.2;
	margin: 1.42em 0 0.7em;
	font-weight: normal;
	color: #ae372e;
}

h3 {
	font-size: 1.563em;
	line-height: 1.3;
	margin: 0 0 1.05em;
	font-weight: normal;
	font-style: italic;
	color: #606060;
}

.title {
	text-align: center;
	background: #1e1e1e;
	color: #f9f9f9;
	padding: 6em 6% 5em;
}

.smallcaps {
	font-family: 'Alegreya SC', Georgia, serif;
}

.dropcap {
	font-size: 5.4em;
	display: block;
	float: left;
	width: .8em;
	height: .7em;
	line-height: 0.8;
	margin: 0;
}

/*  Responsive Typogrpahy */

@media (max-width: 34em ) {
  body {
    font-size: 1em;
  }
  h1 {
  	font-size: 4em;
  }
}

@media (min-width: 94em ) {
  body {
    font-size: 1.5em;
  }
.container {
	max-width: 46rem;
}

}
