/* ---------------------
	Page Styles
------------------------ */

body {
	font-family: 'Alegreya', Georgia, serif;
	font-weight: normal;
	color: #333;
	font-size: 1.25em;
	background: #f9f9f9;
}

.container {
	max-width: 37.5rem;
	margin: 0 auto;
	padding: 4.2em 0;
}

p {
  font-size: 1em;
	line-height: 1.6;
	margin: 0;
}

p + p {
	text-indent: 2em;
}

h1 {
	font-size: 2.441em;
	line-height: 1.1;
	margin: 0 0 0.5em;
	font-weight: normal;
}

h2 {
	font-size: 1.953em;
	line-height: 1.2;
	margin: 1.42em 0 0.7em;
	font-weight: normal;
}

h3 {
	font-size: 1.563em;
	line-height: 1.3;
	margin: 0 0 1.05em;
	font-weight: normal;
	font-style: italic;
}

