<<<<<<< HEAD
/* Attribute Selectors ------------- */

||||||| merged common ancestors
=======
/* Attribute Selectors ------------- */


.form-contact {
    padding: 20px 24px;
    background:
}

#container {
    max-width: 500px;
    margin: auto;
}

input[type="email"] {
    background: #fdfee6;
}

/* Will resume tomorrow. :/ */
>>>>>>> 0a1e530d829c3ba62acc81bfc0c8e093d1df7065
